.rate:hover {
    color: goldenrod;
}
.rate[data-readonly] {
    color: inherit;
}
.rate-item {
    cursor: pointer;
}
.rate-item:hover ~ .rate-item {
    color: lightslategray;
}
.rate[data-readonly] .rate-item {
    cursor: default;
    color: inherit;
}
